body {
}

 ul
{
    list-style-type:none;
    padding:20px;
    margin-left:10px;
}
        
ul li
{
    background-image: url('Images/Arrow-Right-yellow-32.png');
    background-repeat: no-repeat;
    background-position: 0px 10px;
    padding-left: 14px;
}